*{
    --card-color:rgba(22, 24, 28, 0.589);
}

.main-display {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.coupon-display {
    gap: 20px;

}



.shop-item:hover {
    transform: translateY(-10px);
    transition: all 0.2s ease;


}

* {
    font-family: "Poppins", sans-serif;
}

.home-page,
.single-product-page {
    background: linear-gradient(181deg, rgb(41, 44, 77) 0%, rgb(24, 32, 50) 50%, rgb(35, 44, 89) 100%);
    min-height: 100vh;

}

#navbar {
    background-color: #161b25f9;
    padding: 10px;

}

.cart-item {
    width: 100%;
    max-height: 500;
    border-radius: 5;
    margin: 20;
    display: flex;
}



#cart-container {
    background-color: #191d28;
    scrollbar-color: #ee5f2b #191d28;
    width: 50%;
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    margin-top: 40px;
    border-radius: 40px;
    
   
}

    .card-item-button{
        justify-content: end; 
        align-items: center;   
    }

.side-bar {
    color: rgb(206, 221, 234);

}

#contact-message {
    font-family: 'Josefin Sans', sans-serif;
}

#branding:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    color: #2497e4;
    cursor: pointer;
    text-shadow: 0 0 10px #172d43;
}

#productInfo {
    font-family: 'Josefin Sans', sans-serif;
}


#search-bar {
    background-color: rgba(233, 101, 56, 0.893);
    width: 100%;
    padding: 0;
    border-radius: 7px;

}

.moreDetailHeading {
    font-family: "Poppins";
}

.moreDetailDescription {
    font-family: "Poppins";
}

.product-image{
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.3);
   margin: 10px;
}

back {
    background-color: #4949a1cc;
}



@media (max-width: 900px) {
   

    .cart-item-description {
        display: none;
    }

    .cart-item-image{
        max-width: 70px;
    }
    
    #cart-container {
        
        padding: 20px;
        min-width: 90%;
    }
    .cart-item{
        max-height: 100px;
    }
    .shop-item:hover {
        transform: none;
    }
}

@media (min-width: 900px) and (max-width: 1600px) {
    .cart-item {
        max-height: 230px;
    }
    .cart-item-image{
        max-width: 70px;
    }

    .cart-item-description {
        display: none;
    }


}

@media(max-width: 500px){
    .card-item{
        flex-direction: column;
    }
    .cart-item-name{
        font-size: 20px;
    }
    
}

@media (min-width:1400px){
    .shop-item:hover {
        transform: translateY(-10px);
        transition: all 0.2s ease;
    
    
    }
}

