.main-display {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.coupon-display {
    gap: 20px;

}



.shop-item:hover {
    transform:translateY(-30px);
    transition: all 0.2s ease;
    

}

* {
    font-family: "Poppins", sans-serif;
}

.home-page, .single-product-page{
    background: linear-gradient(181deg, rgba(19, 29, 45, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(24, 33, 55, 1) 100%);
    min-height: 100vh;

}
#navbar{
    background-color: #191d28;
    padding: 10px;
   
}


#cart-container{
    background-color: #191d28;
    scrollbar-color: #0ab16e #191d28;
    width: 50%;
}



.side-bar{
    color: rgb(206, 221, 234);
    
}
#contact-message {
    font-family: 'Josefin Sans', sans-serif;
}

#branding:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    color: #2497e4;
    cursor: pointer;
    text-shadow: 0 0 10px #172d43;
}

#productInfo {
    font-family: 'Josefin Sans', sans-serif;
}


#search-bar{
    background-color: rgba(233, 101, 56, 0.893);
    width: 100%;
    padding: 0;
    border-radius: 7px;
   
}

.moreDetailHeading{
    font-family: "Poppins";
}

.moreDetailDescription{
    font-family: "Poppins";
}

.product-image{
    margin-left: auto;
}
back{
    background-color: #b4b8bb;
}


@media (max-width: 900px) {
    .product-image {
        margin: auto;
    }
    #cart-container {
        width: 90%;
    }
}