.home-page{
    background: linear-gradient(181deg, rgb(41, 44, 77) 0%, rgb(24, 32, 50) 50%, rgb(35, 44, 89) 100%);
    min-height: 100vh;

}


.shop-item:hover {
    transform: translateY(-10px);
    transition: all 0.2s ease;


}

#navbar {
    background-color: #161b25f9;
    padding: 10px;

}