.coupon-input{
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: rgba(171, 174, 176, 0.542);
    color: #aba8a8;
    margin: 10px;
}


.cart-item-action-area{
    min-width: fit-content
}
